body {
    font: 15px/1.5 Ariel, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #E7ECF6;
    
}


/* Global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background:rgb(223, 183, 166);
    color: #EEE2dc;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: #AC3B61 4px solid;
}


/* Showcase */
#showcase{
    min-height: 350px;
    background: url("yes.jpeg") no-repeat 0px -250px;
    text-align: center;
    color: #AC3B61;
    font-size: 20px;
}

#region{
    padding: 15px;
    text-align: center;
    background: #BAB2B5;
    color: #123c69
}

#region h3{
    float: left;
    margin-top: 22px;
    color: #123c69;
    font-size: larger;
}

#region form{
    float: right;
    margin-top: 12px;
}

#region input{
    padding: 10px;
    height: 25px;
    width: 200px;
}

.button_1{
    height: 49px;
    padding-left: 20px;
    padding-right: 20px;
    background: #AC3B61;
    color:#cbcfd6;
    font-weight: bold;
}